.mini-header-section {
  display: flex;
  align-items: center;
  background: #fff;
  height: 2.4rem;
  padding: 0 1.2rem;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  z-index: 1010;
}

.mini-header-cart,
.mini-header-search {
  position: relative;
  padding: 0 1.4rem;
  margin: 1.4rem 0;
}

.mini-header-logo {
  padding: 0 10rem;
  margin-left: 1rem;
}

.mini-header-section button {
  border: 0;
  background-color: transparent;
}

@media (min-width: 1024px) {
  .mini-header-section {
    display: none;
  }
}
