.instructor-cta-wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 25%;
  padding-right: 25%;
}

@media (max-width: 770px) {
  .instructor-cta-wrapper {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 70%;
  }

  .instructor-cta {
    flex: 1;
    width: 100%;
    margin: auto;
    vertical-align: middle;
    position: relative;
    width: 70%;
  }

  .instructor-cta img {
    width: 300px;
    height: 300px;
  }

  .instructor-cta:first-child {
    margin-left: 0px;
  }
}

@media (max-width: 400px) {
  .instructor-cta-wrapper {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .instructor-cta:first-child {
    margin-left: 0px;
  }
}

.instructor-cta {
  flex: 1;
  width: 500px;
  margin: auto;
  vertical-align: middle;
  position: relative;
}

.instructor-cta:first-child {
  margin-right: 80px;
}

.instructor-cta p {
  display: block;
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.2rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.instructor-cta h3 {
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
  max-width: 60rem;
  margin-bottom: 0;
}

.instructor-cta button {
  background-color: #1c1d1f;
  color: #fff;
  height: 2.8rem;
  position: relative;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  display: inline-flex;
  min-width: 8rem;
  padding: 0 1.2rem;
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1rem;
}
