.header-section {
  display: flex;
  align-items: center;
  background: #fff;
  height: 4.8rem;
  padding: 0 2.4rem;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  z-index: 1010;
}

.header-logo {
  padding-right: 0.8rem;
}

.header-section a {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.4rem;
  text-decoration: none;
  color: #1c1d1f;
}

.course-categories,
.header-business,
.header-instructor,
.header-cart {
  position: relative;
  padding: 0 0.6rem;
  margin: 0.6rem 0;
}

.search-bar {
  flex-grow: 1;
  position: relative;
  border: 1px solid #1c1d1f;
  border-radius: 99px;
  background-color: #f7f9fa;
  margin: 0 0.6rem;
  min-width: 20rem;
  display: block;
  align-items: center;
}

.course-search-form {
  background-color: transparent;
  border: 0;
  padding: 0.5rem;
  margin: 0 0.2rem;
}

.course-search-form input {
  border: 0;
  font-size: 0.9rem;
  background-color: transparent;
  margin: 0 0.6rem;
  width: 50rem;
}

.course-search-form input:focus {
  outline: none;
}

.header-cart button {
  margin: 0.6rem 0;
  padding: 0 0.4rem;
  width: 1;
  display: inline-block;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.header-login,
.header-signup {
  margin-left: 0.6rem;
}

.header-login button {
  background-color: transparent;
  border: 1px solid #1c1d1f;
  height: 2.5rem;
  width: 5rem;
  font-weight: 600;
  cursor: pointer;
}

.header-signup button {
  background-color: #1c1d1f;
  border: 1px solid #1c1d1f;
  height: 2.5rem;
  width: 5rem;
  font-weight: 600;
  color: #f7f9fa;
  cursor: pointer;
}

.header-language {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #1c1d1f;
  cursor: pointer;
  align-items: center;
  vertical-align: middle;
  margin: 0.6rem 0;
  padding: 0.5rem;
  margin-left: 0.6rem;
}

.header-language img {
  width: 1.4rem;
}

@media (max-width: 770px) {
  .header-section {
    display: none;
  }
}
