.partners-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-right: 20%;
  background: #f7f9fa;
  align-items: center;
  text-align: center;
}

@media (max-width: 770px) {
  .partners-container {
    width: 73%;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 400px) {
  .partners-container {
    padding-right: 0;
    padding-left: 0;
    width: 152%;
  }
}

.partners {
  padding-bottom: 50px;
  padding-top: 10px;
  margin: auto;
}

.partner-logos {
  display: flex;
  width: 100%;
  max-width: 134rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

.partners-container h3 {
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
  max-width: 60rem;
  text-align: center;
}
