body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div {
  margin: 10 100 10;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-arrow:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.rec.rec-arrow:active {
  color: white;
  background-color: black;
  cursor: pointer;
}

.rec.rec-arrow:focus {
  color: white;
  background-color: black;
  cursor: pointer;
}

.rec.rec-arrow {
  color: white;
  background-color: #1c1d1f;
}
