.categories {
  margin-top: 0px;
  padding-left: 15%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.categories-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-column {
  overflow: hidden;
  display: inline-block;
  flex-basis: 25%;
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 15px;
}

.category-row {
  flex-direction: column;
}

.category-row h4 {
  margin-top: 10px;
}

@media (max-width: 770px) {
  .categories {
    width: 80%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .categories h2 {
    font-size: 1.2rem;
  }

  .category-column {
    overflow: hidden;
    display: inline-block;
    flex-basis: 25%;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 0;
  }

  .category-column img {
    width: 120px;
    height: 120px;
  }

  .category-row h4 span {
    font-size: 0.8rem;
    padding: 0;
    margin-top: 10px;
    display: block;
  }
}
