.categories {
  margin-top: 50px;
  padding-left: 15%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.categories-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-column {
  overflow: hidden;
  display: inline-block;
  flex-basis: 25%;
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 15px;
}

.category-row {
  flex-direction: column;
}

.category-row h4 {
  margin-top: 10px;
}
